<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0/EN" "http://springframework.org/dtd/spring-beans-2.0.dtd">

<aop:config>
	<aop:aspectref = audience ">
		<aop:beforepointcut = execution (
			com.springinaction.springidol.Performer.perform ( method="takeSeats" />
		<aop:beforepointcut = execution (
			com.springinaction.springidol.Performer.perform ( method="turnOffCellPhones" />
		<aop:after-returningpointcut = execution (
			com.springinaction.springidol.Performer.perform ( method="applaud" />
		<aop:after-throwingpointcut = execution (
			com.springinaction.springidol.Performer.perform ( method="demandRefund" />
	</aop:aspect>
</aop:config>
